body{
 padding: 0px;

}
body ::-webkit-scrollbar{
    width: hide;
}
.wrapper{
  width: 100% !important;
  height: 100vh !important;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
} 


.response{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 49.7%;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);

}   

 
.review
{
  flex: 1;
  width: 49.8%;
  min-height: 100%;
  max-height: 400px;
  padding: 1rem;

  color: rgb(202, 202, 202);
  background: #000000;
  font-size: 20px;
  font-family: monospace;
  white-space: pre-wrap;

  border-radius: 8px;

  overflow-y: auto;
}

/* Hide scrollbar */
.review::-webkit-scrollbar
{
  width: 0px;
}

.editor{
    min-height: 100% !important;
}

.editor-button {
  position: fixed;
  bottom: 30px;
  right: 55%;
  background-color: #dadada;
  border: none;
  padding: 15px 50px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  z-index: 10;
}  
.heading{
    display: none;
} 
.review2{
    display: none;
}

@media (max-width:780px) {

    
.response{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height:400px ;
  width: 100% !important;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  overflow-y: auto;

} 
.review{
    position: absolute;
    display: none !important;
   
} 
.review2{ 
    display: block;
    height: 400px;
    color: rgb(202, 202, 202);
    font-size: 20px; 
    min-height: 400px;
    background: #000000;
    padding: 1rem;
    border-radius: 8px;
    font-family: monospace;
    white-space: pre-wrap;
    max-height: 400px;
    overflow-y: auto;

} 
.heading{
    display: block;
} 
.editor{
    min-height :200px !important;
} 
.editor-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #dadada;
  border: none;
  padding: 15px 50px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  z-index: 10;
}
}